<%layout("/layouts/boilerplate")%>
<body class="home ">
    <div class="blank"></div>
    <div class="mt-3 d-flex justify-content-center  ">
        
    <a href="/login" class="btn btn-outline-success btn-lg me-2">login</a>
    <a href="/register" class="btn btn-outline-success  btn-lg ">register</a>
</div>
</body>
